<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/vegBazarLogo.png" alt=""/>
    <ion-card-header>
      <ion-card-title>Welcome to Veg Bazar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Order Your Vegitable from here.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
